.menu{
  position: fixed;
  top: .9375rem;
  right: .875rem;
  z-index: 10;
  
  display: none;

  min-width: 18.75rem;

  background-color: var(--tertiary-bg-color);
  border-radius: .625rem 0 .625rem .625rem;
  border: .1875rem solid var(--secondary-text-color);

  padding-block: 1.25rem;
  padding-inline: 1.75rem;
  margin: 5.5rem 1.75rem 1.75rem 1.75rem;
}

.menu::before{
  content: '';

  border: .625rem solid transparent;
  border-right-color: var(--secondary-text-color);
  border-bottom-color: var(--secondary-text-color);

  position: absolute;
  top: -1.25rem;
  right: -0.1875rem;
}

.openMenu{
  display: block;
}

.menu__item{
  display: flex;
  gap: 1.5rem;

  & > button{
    color: var(--secondary-text-color);

    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: 700;
  
    &:hover{
      scale: 1.2;
    }
  }
}